.contact {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    color: #323232;
}


.phone-book {
    background-color: #ff4f00;
    color: #fff;
    width: 400px;
    height:600px;    
    margin: 50px auto;
    font-size: 18px;
    position: relative;
    padding: 15px;
    border-radius: 5px;
}

.phone-book__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 5px;
    margin: 10px 0;
}

.input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 0;
    background-color: white;
    color: black;
}

.container {
    margin-top: 16px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.mainblock {
    margin-top: 32px;
}


.firstName, .lastName {
    font-size: 18px;
    font-weight: 600;
}

.lastName {
    font-style: italic;
    text-transform: uppercase;
}

.gender {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.number {
    font-size: 14px;
    text-align: right;
}

.call {
    font-size: 36px;
    color: green;
}

.othericons {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    color: khaki;
    font-size: 24px;
    position: absolute;
    bottom: 0px;

}

.star, .clock, .person, .other {
    margin-right: 40px;
    margin-left: 10px;
    margin-bottom: 16px;
}

.auto {
    margin-left: 10px;
    margin-bottom: 16px;
}

.boxes {
    color: white;
    margin-top: 8px;
}

.box-male, .box-female, .box-undefined {
    margin-right: 8px;
    margin-left: 8px;
}